html{
  font-size: 18px;
}

body{
  font-family: helvetica, sans-serif;
  line-height: 1.4;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.background{
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/glasses-bg.png");
    height: 31rem;
    display: flex;
}

header{
  display: flex;
  align-items: center;
  background-color: cadetblue;
  margin-top: 1rem;
}

.company{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.company img{
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.company span{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav a{
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.menu{
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.menu a{
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.title{
  background-color: white;
  display: inline-block;
  float: right;
  margin-top: 10rem;
  margin-right: -2rem;
}

.title h1{
  font-weight: bold;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-align: center;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

.serv-list{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0rem;
}

.service{
  height: 8rem;
  max-width: 5rem;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.service img{
  display: block;
  max-width: 100%;
  height: auto;
}

.s1 img{
  max-width: 3.5rem;
}

.service p{
  text-align: center;
  justify-content: flex-end;
}

.info{
  margin-bottom: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.info-section{
  width: 35%;
  margin: 2.5rem;
}

.info-section h2{
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.footer-back .container{
  background-color: azure;
}

footer{
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer img{
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1200px){

  .background{
    height: 22rem;
  }

  .container{
    width: 100%;
  }

  .title{
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .title h1{
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }

}

@media only screen and (max-width: 768px){

  header span{
    display: none;
  }

  footer span{
    display: none;
  }

  footer{
    justify-content: center;
  }

  .background{
    height: 17rem;
    background-position: 20%;
  }

  .container{
    width: 100%;
  }

  .title{
    margin-top: 9rem;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .title h1{
    font-size: 1rem;
  }

  p{
    font-size: 0.77;
  }

  .serv-list{
    flex-direction: column;
    align-items: center;
  }

  .s3{
    margin-bottom: 0;
  }

  .service{
    margin-bottom: 1.54rem;
    justify-content: center;
  }

  .service p{
    padding: 0.5rem;
  }

  .info{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .info-section{
    width: 100%;
    text-align: center;
  }

  .info-section h2{
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }

  .info-section p{
    text-align: left;
    margin: 1rem;
  }

  .is1{
    margin-bottom: 3rem;
  }

  .menu{
    display: flex;
  }

  nav{
    display: none;
  }

}
